*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
 
}


body{
    background-color:   hsl(0, 0%, 95%);
}

.container{
    margin-top:20px ;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

/* Card style  */
.card1{
    background-color: hsl(31, 77%, 52%);
    width: 250px;
    height: 400px;
    margin-top: 80px;
    padding: 30px 30px 10px 30px;
    font-size: 15px;
    font-family: Lexend Deca;
    border-radius: 10px 0px 0px 10px ;
}

.card2{
    background-color: hsl(184, 76%, 29%);
    width: 250px;
    height: 400px;
    margin-top: 80px;
    padding: 30px 30px 10px 30px;
    font-size: 15px;
    font-family: Lexend Deca;
}

.card3{
    background-color: hsl(179, 100%, 13%);
    width: 250px;
    height: 400px;
    margin-top: 80px;
    padding: 30px 30px 10px 30px;
    font-size: 15px;
    font-family: Lexend Deca;
    border-radius: 0px 10px 10px 0px ;
}


.card1 h1{
    padding-top:25px;
}
.card2 h1{
padding-top:25px;
}
.card3 h1{
padding-top:25px;
}
.card1 p{
    padding-top:25px;
    
}
.card2 p{
    padding-top:25px;
}
.card3 p{
    padding-top:25px;
}
/* End of card style */

/* button style */
.box-btn{
   
   margin: 50px 0px 0px 0px;
   width: 110px;
   height: 40px;
   padding: 0spx 0px 0px 0px;
}

.btn{
    background:transparent;
    border: 2px solid hsl(0, 0%, 95%);
    color:hsl(0, 0%, 95%);
    height: 40px;
    width: 110px;
    border-radius: 20px;
    font-size:14px ;
    font-family: Lexend Deca;
    transition: 0.8s;
}
 

.btn:hover{
    background-color:hsl(0, 0%, 95%);
}

#one-text:hover {
     color:hsl(31, 77%, 52%) ;
}
#two-text:hover{
    color: hsl(184, 76%, 29%);
}
#three-text:hover{
    color: hsl(179, 100%, 13%);
}



/* Mobile Responsive */
/* @media screen and (max-width: 1440px) { */
    
/* } */

@media screen and (max-width: 375px) {
     .container {
       display:initial;
       justify-content: center;
   }
    .card1{
        border-radius: 10px 10px 0px 0px;
        margin: auto;
        margin-top: 50px;
    }
    .card2{         
        margin: auto;
    }
    .card3{
        border-radius: 0px 0px 10px 10px;
        margin:auto;
        margin-bottom: 50px;
    }


}



/* End of mobile responsive */

.attribution { font-size: 11px; text-align: center; font-family: Lexend Deca; }
    .attribution a { color: hsl(228, 45%, 44%); }